* {
    --violet: #b88cfc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

::placeholder {
    color: #C0C0C0;
}

body {
    font-family: "Montserrat", sans-serif;
}

/*************** Home Page ****************/

.home-page {
    min-height: 100vh;
    background: url('/assets/images/csr-bg.svg') no-repeat center right / contain,
    radial-gradient(circle at 100px 100px, #3f4c9d 3%, #1b4176 10%, #834fbd 90%);
    background-blend-mode: multiply;
    color: white;
}

/*** Navbar Section ******/

.custom-navbar {
    background:rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);

}

.navbar-brand img {
    height: 50px;
}

.btn-custom {
    border-radius: 10px;
    font-size: 0.7rem;
}

/**** Showcase Section *******/

.custom-container {
    max-width: 75%;
}

.title-image {
    width: 60%;
    height: auto;
    object-fit: contain;
}

.big-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

.txt-custom{
    font-size: 0.9rem;
}

/*** Footer ***/

.footer-item {
    font-size: .6em;
}

.footer-logo {
    height: 40px;
}

/*************** Sign up page ****************/

.left {
    width: 40%;
    height: 100vh;
    background-color: var(--violet);
    float: left;
}

.inner-left {
    height: 100%;
    width: auto;
}

.title-left {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 3rem;
}

.image-left {
    width: 80%;
    height: auto;
    object-fit: contain;
}

.txt-body {
    width: 80%;
    font-size: 0.7rem;
    position: absolute;
    bottom: 40px;
}

.txt-footer {
    font-size: 0.7rem;
}

/*----- right side ------*/

.right {
    min-height: 100vh;
    color: black;
    flex-grow: 1;
    position: relative;
}

a { 
    color: inherit; 
} 

.back {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.inner-right {
    width: 40%;
    height: auto;
}

.title-right {
    font-weight: bold;
    font-size: 1.4rem;
    font-family: sans-serif;
    line-height: 2rem;
}

.w-60 {
    width: 60%!important;
}
.w-80 {
    width: 80%!important;
}
.w-90 {
    width: 90%!important;
}

.img-right_1 {
    width: 150px;
}
.img-right_2 {
    width: 50px;
}

.form-holder {
    width: 100%;
    justify-content: left;
}

.form-holder .input-txt, .input-pwd {
    width: 100%;
    height: 25px;
    border: none;
    border-bottom: 2px solid lightgray;
    outline: none;
    background: none;
    font-size: 0.7rem;
}

.wrapper-email, .wrapper-pwd, .wrapper-ref-code {
    position: relative;
    width: 100%;
}

.wrapper-pwd .fa-eye {
    position: absolute;
    right: 0;
}

#email-validation, 
#password-validation, 
#ref-code-validation {
    position: absolute;
    right: 0;
    top: -21px;
    font-size: 10px;
    width: 150px;
    height: 60px;
    padding: 5px;
    margin: 0;
    background: #5e6673;
    color: whitesmoke;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

li span {
    position: relative;
    left: -8px;
  }


.color-green {
    color: lightgreen;
    font-size: 0.7rem;
}

.color-red {
    color: red;
    font-size: 0.7rem;
}

.form-holder label {
    font-size: 0.7rem;
    display: flex;
    align-items: flex-end;
}

.form-holder p {
    font-size: 0.6rem;
    width: 90%;
    line-height: 1.5rem;
}

.form-holder .terms {
    color: #C0C0C0;
}

.form-holder a {
    color: var(--violet);
    text-decoration: none;
}

.form-holder input[type=submit] {
    background-color: var(--violet);
    font-size: 0.7rem;
    color: whitesmoke;
}



/*********** media queries **************/

@media (max-width: 1028px) {
    .footer-item {
        font-size: .5em;
    }
    /* .inner-right {
        width: 50%;
    } */
}

@media (max-width: 700px) {

    .custom-container {
        max-width: 90%;
    }
    .inner-right {
        width: 90%;
    }

}