* {
    --violet: #b88cfc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

::placeholder {
    color: #C0C0C0;
}

body {
    font-family: "Montserrat", sans-serif;
}

/*************** Home Page ****************/

.home-page {
    min-height: 100vh;
    background: url('/assets/images/csr-bg.svg') no-repeat center right / contain,
    radial-gradient(circle at 100px 100px, #3f4c9d 3%, #1b4176 10%, #834fbd 90%);
    background-blend-mode: multiply;
    color: white;
}

/*** Navbar Section ******/

.custom-navbar {
    background:rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);

}

.navbar-brand img {
    height: 50px;
}

.btn-custom {
    border-radius: 10px;
    font-size: 0.7rem;
}

/**** Showcase Section *******/

.custom-container {
    max-width: 75%;
}

.title-image {
    width: 60%;
    height: auto;
    object-fit: contain;
}

.big-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

.txt-custom{
    font-size: 0.9rem;
}

/*** Footer ***/

.footer-item {
    font-size: .6em;
}

.footer-logo {
    height: 40px;
}

/*************** Sign up page ****************/

.left {
    width: 40%;
    height: 100vh;
    background-color: var(--violet);
    float: left;
}

.inner-left {
    height: 100%;
    width: auto;
}

.title-left {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 3rem;
}

.image-left {
    width: 80%;
    height: auto;
    object-fit: contain;
}

.txt-body {
    width: 80%;
    font-size: 0.7rem;
    position: absolute;
    bottom: 40px;
}

.txt-footer {
    font-size: 0.7rem;
}

/*----- right side ------*/

.right {
    min-height: 100vh;
    color: black;
    flex-grow: 1;
    position: relative;
}

a { 
    color: inherit; 
} 

.back {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.inner-right {
    width: 40%;
    height: auto;
}

.title-right {
    font-weight: bold;
    font-size: 1.4rem;
    font-family: sans-serif;
    line-height: 2rem;
}

.w-60 {
    width: 60%!important;
}
.w-80 {
    width: 80%!important;
}
.w-90 {
    width: 90%!important;
}

.img-right_1 {
    width: 150px;
}
.img-right_2 {
    width: 50px;
}

.form-holder {
    width: 100%;
    justify-content: left;
}

.form-holder .input-txt, .input-pwd {
    width: 100%;
    height: 25px;
    border: none;
    border-bottom: 2px solid lightgray;
    outline: none;
    background: none;
    font-size: 0.7rem;
}

.iti { 
    width: 100%; 
    
}

.wrapper {
    position: relative;
    width: 100%;
}

.wrapper-otp {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column;
    height: 100%;
    align-items: space-around;
    justify-content: center;
}

.otp-input {
    display: flex;
    justify-content: start;
}

.otp-input input {
    margin-right: 5px;
    height: 35px;
    width: 40px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1.1rem;
    background: #eef2f3;
}

.otp-input input:focus {
    box-shadow: 0 3px 10px #888888;
    background: #fff;
    outline: none;
}

#countdown {
    color: var(--violet);
}

.wrapper .fa-eye {
    position: absolute;
    right: 0;
}

#email-validation, 
#password-validation, 
#ref-code-validation {
    position: absolute;
    right: 0;
    top: -21px;
    font-size: 10px;
    width: 150px;
    height: 60px;
    padding: 5px;
    margin: 0;
    background: #5e6673;
    color: whitesmoke;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

li span {
    position: relative;
    left: -8px;
  }


.color-green {
    color: lightgreen;
    font-size: 0.7rem;
}

.color-red {
    color: red;
    font-size: 0.7rem;
}

.form-holder label {
    font-size: 0.7rem;
    display: flex;
    align-items: flex-end;
}

.form-holder p {
    font-size: 0.6rem;
    width: 90%;
    line-height: 1.5rem;
}

.form-check p {
    line-height: 0.9rem;
}

.form-holder .terms {
    color: #C0C0C0;
}

.form-holder a {
    color: var(--violet);
    text-decoration: none;
}

.form-holder input[type=submit] {
    background-color: var(--violet);
    font-size: 0.7rem;
    color: whitesmoke;
}


/* Congratulations page */

#congratulations {
    height: 100vh;
}

.congrats-page {
    height: 100%;
    width: 100%;
    background: url('/assets/images/csr-bg.svg') no-repeat right top / contain,
    #f5f7fa;
    background-blend-mode: multiply;
    position: relative;
}

.congrats-navbar {
    background:white;
    box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
}

.congrats-navbar .navbar-brand img {
    height: 50px;
    /* background: linear-gradient(to right, #1b4176, #834fbd); */
}
.congrats-body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.congrats-box {
    width: 400px;
    height: auto;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px; */
}

.congrats-box h5 {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
    color: black;
}

.congrats-box p {
    font-size: 0.7rem;
    width: 90%;
    line-height: 1.2rem;
}

.congrats-box input[type=submit] {
    background-color: var(--violet);
    font-size: 0.7rem;
    color: whitesmoke;
    width: 70px;
}

.outer-circle {
    background: #f5f7fa;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    /* border-top-left-radius: 50px;
    border-top-right-radius: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.check-box {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: var(--violet);
    color: white;
}


/*********** media queries **************/

@media (max-width: 1028px) {
    .footer-item {
        font-size: .5em;
    }
    /* .inner-right {
        width: 50%;
    } */
}

@media (max-width: 700px) {

    .custom-container {
        max-width: 90%;
    }
    .inner-right {
        width: 90%;
    }
    .congrats-box {
        width: 300px;
    }

}