* {
    margin: 0;
    padding: 0;
}

body {

    background: url('./assets/images/hero-bg.svg') no-repeat center right / contain, 
    linear-gradient(90deg, #1b4176, #834fbd);
    background-blend-mode: multiply;
    color: white;
}

.big-title {
    font-size: 3.5rem;
    font-family: 'Ubuntu', sans-serif;
}

/*************** Navbar Section ****************/

.custom-navbar {
    background:rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
}

.navbar-brand img {
    height: 50px;
    padding: 1% 10%;
}

.nav-item {
    padding: 0 18px;
}

.btn-custom {
    border-radius: 10px;
    margin: 0 10px 0 18px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: .75em;
}

.btn-container {
    min-width: 400px;
}

/*************** Hero Section ****************/

.hero-container {
    margin: 2% 5%;
    padding: 5% 10%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    color: white;
    width: 90%;
    font-family: "Montserrat", sans-serif;
    
}

.btn-hero {
    margin-left: 0;
}

.hero-img {
    width: 70%;
}

/*************** Footer ****************/

#footer {
    width: 65vw;
}

.footer-item {
    font-size: .6em;
}

.footer-logo {
    height: 40px;
}

/*********** media queries **************/

@media (max-width: 700px) {
    .big-title {
        font-size: 2rem;
    }
}